* {
  box-sizing: border-box;
}

body {
  background-color: seashell;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-inline-start: 0.5em;
}

.icon-spinner2 {
  animation: 1s linear infinite loading;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
